life123

<audio loop autoplay >
  <source src="http://qzone.haoduoge.com/music2/2014-09-14/1410670640.mp3" type="audio/mp3" />
</audio>

<div class="song-page" >
  <div class="song-page-bg" id="songpagebg" ></div>
  <div class="lyc">
    师父：俯首作辑谢师恩，呐，我喝了你的茶，就是你师父了。江湖险恶，咱们师徒一心，同去同归。 
    <br>徒弟（正太）：嗯。                                                         
    <br>师父：我先去给你买包包和糖葫芦，你等着我！怎么了？一个人害怕？                      
    <br>徒弟（正太）：才没有！                                                      
    <br>师父：那你为何拽着我的衣角？                                                 
    <br>徒弟（正太）：我……                                                         
    <br>师父：不怕，师父跟着你。                                                    
    <br>是不是，每种感情都不容沉溺放肆(徒弟（少年）：都跟你说别跟着我了，你怎么还跟着！)       
    <br>师父：……                                                                
    <br>徒弟（少年）：干嘛不说话！                                                  
    <br>师父：你不是嫌我吵么？                                                     
    <br>徒弟（少年）：交心淡如君子；(我……不是那个意思。)                                
    <br>师父：只道是，那些无关风花雪月的相思，(马上就要出师了，我给你准备了新衣裳， 你试试？)  
    <br>徒弟（少年）：说来几人能知？(你做的衣服太丑了，穿着这么丑的衣服我怎么名扬天下？)      
    <br>师父：【直接把糖葫芦塞他嘴里】                                              
    <br>院内冬初，昔年与你栽的桃树(徒弟（少年）：唔……呸，都跟你说了我不吃糖葫芦)            
    <br>徒弟（少年）：叶落早做尘土；喂，你一直在这，都没去过别处，是不是在等着谁？           
    <br>师父：新雪来时，又将陈酒埋了几壶，我谁也没等。谁也不会来。                        
    <br>盼你归来后对酌。徒弟（少年）：你一个人这么久，就没想过去别的地方看看？             
    <br>师父：我……                                                             
    <br>穿过落雁修竹，看过月升日暮，                                               
    <br>你说有一日总会名扬天下实现你抱负；                                           
    <br>那时低头替你剑穗缠着新流苏，                                               
    <br>心愿未听清楚。                                                          
    <br>还挂着流苏，是否应该满足？                                                
    <br>也为你缝好冬衣寄去书信一两句叮嘱；                                         
    <br>该庆幸至远至疏你我还未至陌路，                                            
    <br>是时光从来残酷。                                                       
    <br>最害怕，酒肆闲谈时候听见你名字，                                         
    <br>语气七分熟识；                                                        
    <br>徒弟（青年）：你又输了。                                                 
    <br>师父：知道了知道了，徒弟还是长大了啊。                                     
    <br>回过神，笑问何方大侠姓名竟不知，                                          
    <br>徒弟（青年）：这下你不用一直跟在我后面，担心我被人欺负了吧。                  
    <br>笑容有多讽刺。                                                       
    <br>师父：你这身新衣服不错呀，看起来像名扬天下那么回事儿。                       
    <br>徒弟（青年）：师傅，你的亲友呢？                                          
    <br>师父：这是你的小马驹吗？挺帅的嘛！你记得要每天刷洗，这样它长大了毛色会——
    <br>徒弟（青年）：这些我知道。
    <br>师父：对了！我这还有些上好的马草！
    <br>徒弟（青年）：不用了，我都有。
    <br>斟酒独酌，细雪纷纷覆上眉目，
    <br>清寒已然入骨。
    <br>还忆最初，有你扯过衣袖轻拂，
    <br>笑说雪融似泪珠。
    <br>曾经相伴相护，说着“初心不负”，
    <br>想起某一日陪你策马同游闹市中漫步，
    <br>那时正逢扬州三月桃花铺满路，
    <br>神情难免恍惚。
    <br>江湖的尽头，是否只剩孤独？
    <br>都怪我玲珑心思执念太过以尘网自缚，
    <br>前方太辽阔若问此去应去向何处，
    <br>把来路当做归途。

    <br>桃树下，那年落雪为你唱一段乐府，
    <br>信了“人不如故”；
    <br>只如今，茫茫大雪之中等着谁回顾，
    <br>明知无人回顾。

    <br>谁能初心不负？（徒弟的徒弟：师傅，你在等谁？）
    <br>徒弟（青年）：我谁也没等。谁也不会来。
    <br>徒弟的徒弟：你一个人，就没想过去别的地方看看？
    <br>徒弟（青年）：我……
    <br>【闪回】
    <br>徒弟（少年）：你一个人这么久，就没想过去别的地方看看？
    <br>师傅：我怕我一转身，连你也不见了。
    <br>【闪回结束】
    <br>师傅：看，下雪了【回忆】
    <br>徒弟的徒弟：看，下雪了【现实】
  </div>
</div>