/********************* logo && nav *****************************/
#about-logo {
	position: relative; //relative很重要，响应式，随缩放位移
	float: left;
	left: 100px;
	top: -950px;
	text-decoration: none; //去掉下划线
}

.about-up-nav {
	height: 31px;
	width: 350px;
	padding: 9px 10px 0 0;
	position: relative; //relative很重要，响应式，随缩放位移
	float: right;
	top: -950px;
	// left: 0%;
}

.about-nav-ul {
	list-style: none; //去掉列表样式
}

.about-nav-li {
	float: left;
	height: 14px;
	padding: 0 10px;
}

.about-nav-link {
	text-decoration: none;
	cursor: auto;
	&:hover {
		color: #ffffff;
	}
}


/***************** page one ****************************/

.about-page-one {
	height: 1000px;
	width: 100%;
}

.about-page-one-bg {
	height: 1000px;
	width: 100%;
	// background-attachment: fixed;
	background-position: center;
	background-size: cover;
	// border-radius: 10px 100px 100px 100px;

}

#aboutpageonebg {
	background-image: image-url("trans_.png"); 
}

.about-page-one-title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 150px;
	font-size: 4em;
	color: #ffffff;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
	font-style: italic;  //文本倾斜
	// font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
}

.about-page-one-text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 250px;
	font-size: 2em;
	color: #ffffff;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
	font-style: italic;  //文本倾斜
}

.about-page-one-text-p {
	display: inline-block;
	text-align: left;

}

/***************** page two ****************************/

.about-me {
	height: 1000px;
	width: 100%;
	background-color: #000000;
	position: relative;
	// top: -23px;

	color: #ffffff;
}

.about-me-title {
	width:100%;
	text-align: center;    
	position: absolute;
	margin: auto;
	top: 100px;
}

.about-me-text {
	width:100%;
	text-align: center;      
	position: absolute;  //这里relative不行
	margin: auto;
	top: 180px;
	font-size: 1.5em;

}

/***************** skills ****************************/
.skills {
	height: 1000px;
}

.skills-bg {
	height: 1000px;
	width: 100%;
	background-position: center center;
	background-size: cover;
	position: absolute;
}

#skillsbg {
	background-image: image-url("lookup.jpg");
}

.skills-box {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	background-color: #505050;
	border: 0.5px solid black;
	opacity: 0.6;
	z-index: 1;
	overflow:hidden;  
}

.skills-title {
	width:100%;
	text-align: center;    
	position: absolute;
	margin: auto;
	top: 100px;
	font-size: 4em;
	color: #ffffff;
}

.skills-text {
	width:100%;
	text-align: left;  
	padding: 50px 50px;    
	position: absolute;  //这里relative不行
	margin: auto;
	font-size: 1.5em;
	color: #ffffff;
	z-index: 2;
	line-height: 2em;
}

/***************** portfolio ****************************/
.portfolio {
	height: 1000px;
}

.portfolio-bg {
	height: 1000px;
	width: 100%;
	background-position: center center;
	background-size: cover;
	position: absolute;
}

#portfoliobg {
	background-image: image-url("notebook_.jpg");
}

.portfolio-box {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	top: 200px;
	background-color: #505050;
	border: 0.5px solid black;
	opacity: 0.6;
	z-index: 1;
	overflow:hidden;  
}

.portfolio-title {
	width:100%;
	text-align: center;    
	position: absolute;
	margin: auto;
	top: 100px;
	font-size: 4em;
	color: #ffffff;
}

.portfolio-text {
	width:100%;
	text-align: left;  
	padding: 50px 50px;    
	position: absolute;  //这里relative不行
	margin: auto;
	font-size: 1.5em;
	color: #ffffff;
	z-index: 2;
	line-height: 2em;
}

/***************** contact ****************************/

.contact-me {
	height: 1000px;
	width: 100%;
	background-color: #000000;
	position: relative;
	// top: -23px;

	color: #ffffff;
}

.contact-me-title {
	width:100%;
	text-align: center;    
	position: absolute;
	margin: auto;
	top: 100px;
}

.contact-me-text {
	width:100%;
	text-align: center;      
	position: absolute;  //这里relative不行
	margin: auto;
	top: 180px;
	font-size: 1.5em;

}

/***************** footer ****************************/
.about-footer {
	height: 100px;
	width: 100%;
	background-color: #404040;
	position: relative;
	// top: 100px;
}

.about-footer-text {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	// line-height: 200px; 
	// padding-top: 30px;
	font-size: 1em;
	color: #ffffff;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
}







