// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets"; 
@import "bootstrap";

body {
	margin: 0;
	font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;

}

/********************* logo && nav *****************************/
#logo {
	width: 60px;
	height: 60px; 
	position: absolute; //relative很重要，响应式，随缩放位移
	left: 100px;
	top:  50px;
    cursor: pointer;
}

.up-nav {
	height: 31px;
	width: 500px;
	padding: 9px 10px 0 0;
	position: relative; //relative很重要，响应式，随缩放位移
	float: right;
	top: -940px;
	// left: 0%;
}

.nav-ul {
	list-style: none; //去掉列表样式
}

.nav-li {
	float: left;
	height: 14px;
	padding: 0 10px;
}

.nav-link {
	text-decoration: none;
	cursor: auto;
	&:hover {
		color: #ffffff;
		text-decoration: none; //去掉下划线
	}
}

/***************** page one ****************************/

.page-one {
	height: 1000px;
	width: 100%;
}

.page-one-bg {
	height: 1000px;
	width: 100%;
	// background-attachment: fixed;
	background-position: center;
	background-size: cover;
	// border-radius: 10px 100px 100px 100px;

}

#pageonebg {
	background-image: image-url("city.jpeg") ; 
}

.page-one-title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 150px;
	font-size: 4em;
	color: #000000;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
	font-style: italic;  //文本倾斜
	// font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
}

.page-one-text {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 300px;
	font-size: 2em;
	color: #000000;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
	font-style: italic;  //文本倾斜
}

.page-one-text-p {
	display: inline-block;
	text-align: left;

}

/***************** page two ****************************/





.page_three {
	// height: 1100px;
	width: 100%;
	position: relative;
	background-color: #000000;
}

.page_three_image {
	// height: 1100px;
	width: 80%;
	margin:auto;
	// background-size: cover;
}




#ICP-filling {
	height: 100px;
	width: 100%;
	background-color: #404040;
	// position: relative;
	// top: 200px;
}

.ICP-filling-text {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	// line-height: 200px; 
	// padding-top: 30px;
	font-size: 1em;
	color: #ffffff;
	letter-spacing:2px;  //字符间距
	word-spacing:3px;    //单词间距
}

























